/* global */
img {
  width: 30%;
  height: 40%;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}


@media (min-width: 768px) {
  .nav {
   background-color: #d35266;
    display: flex;
    
  }
  .main-nav {
    display: flex;
  }
  .side-nav {
    display: flex;
    flex-direction: row;
  }
}