/* global */
img {
  width: 30%;
  height: 40%;
}

.wrapper {
  max-width: 1310px;
  margin: 0 auto;
} 

body {
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  cursor: pointer;
}

  .nav {
   background-color: black;
    display: flex;
    color: #d35266;
    height: 40px;
    width: 100%;
    font-size: 10px;
  }
  .main-nav {
    display: flex;
  }

  .side-nav {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
  }
  .button-nav {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-top:8px;
    color: #888888
  }

  .store {
    background-color:#d35266 ;
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
  }

  .watches {
    display: flex;
    width: 80%;
  }

  .leather-watch {
    display: flex;
    width: 80%;
  }

  .smart-watch {
    display: flex;
    width: 80%;
  }

  /* footer */

  .footer {
     background-color:#383838;
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    justify-content: center;
    margin: auto;
    align-items: center;
    grid-row: center;
  }

  .social {
    display: flex;
    flex-direction: column;
  }
