/* global */
img {
  width: 95%;
  height: 90%;
}

.wrapper {
  max-width: 1310px;
  margin: 0 auto;
} 

body {
  overflow-x: hidden;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

  .nav {
   background-color: rgb(32, 31, 31);
   color: #fff;
    display: flex;
    height: 40px;
    width: 100%;
    font-size: 15px;
  }

  .left-nav{
    padding-right: 20px;
    align-self: center;
    margin-left: 40px;
  }

  .right-nav{
    display: flex;
    justify-items: space-around;
    align-items: center;
    margin-left: 150px;
  }

  .right-nav h2{
    padding-right: 30px;
    margin-left: 50px;
  }

  .middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d35266;
    color: #fff;
  }

  .middle1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .middle1 h2{
    font-family: 'Grand Hotel', cursive;
    font-size: 50px;
  }

  .middle1 h4{
   margin-top: -10px;
    font-family: tahoma;
    font-size: 20px;
    word-spacing: 2px;
  }

  .middle2{
    display: flex;
  }

  .carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .c-image{
    height: 100px ;
  }

  .classic {
    display: flex;
    padding-top: 25px;
    padding-left: 10px;
  }

  .leather-watch{
    display: flex; 
  }

  .smart {
    display: flex;
    }